.App {
  font-size: inherit;
}

/* bookshelves/main page */

.list-books-title {
  padding:  1rem 0;
  background: #08B2E3;
  text-align: center;
}

.list-books-title h1 {
  font-weight: 400;
  margin: 0;
  color: #fff;
}

.list-books-content {
  padding: 0 0 8rem;
}

.bookshelf {
  padding: 0 1rem 2rem;
}

@media (min-width: 6rem) {
  .bookshelf {
    padding: 0 2rem 4rem;
  }
}

.bookshelf-title {
  border-bottom: 0.1rem solid #dedede;
}

.bookshelf-books {
  text-align: center;
}

.open-search {
  position: fixed;
  right: 2.5rem;
  bottom: 2.5rem;
}

.open-search {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #08B2E3;
  background-image: url('./icons/add.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 28px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  font-size: 0;
}


/* search page */

.search-books-bar {
  display: flex;
  box-shadow: 0 0.5rem 2rem rgba(0,0,0,0.19), 0 0 0.6rem rgba(0,0,0,0.23);
}

.back-to-bookshelves {
  display: block;
  width: 5rem;
  height: 5rem;
  margin-left: 0.5rem;
  background-image: url('./icons/arrow-back.svg');
  background-repeat: no-repeat;
}

.search-books-input {
  flex: 1;
  background: #efefef;
}

.search-books-bar input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 2rem;
  padding-left: 1rem;
}

.search-books-results {
  padding: 7rem 1rem 2rem;
}

/* books grid */

.books-grid {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
}

.books-grid li {
  padding: 1rem 1.5rem;
  text-align: left;
}

.book {
  width: 14rem;
}

.book-title,
.book-authors {
  font-size: 1.1rem;
}

.book-title {
  margin-top: 1rem;
}

.book-authors {
  color: #999
}

.book-top {
  position: relative;
  height: 20rem;
  display: flex;
  align-items: flex-end;
}

.book-shelf-changer {
  position: absolute;
  right: 0;
  bottom: -10px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #EE6352;
  background-image: url('./icons/arrow-drop-down.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.book-shelf-changer select {
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.book-cover {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background: #eee;
}

/* 404 error page */

.error-page {
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
}

.error-page-container {
  display: flex;
  flex-direction: column;
}

.error-page-404 {
  font-size: 10rem;
  margin: 0;
}

.error-page-error {
  display: block;
  margin: 0;
  font-size: 1.8rem;
}

.error-page-error span {
  display: block;
}

.error-page-not-found {
  font-size: 1.2rem;
}

.error-page-link a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #08B2E3
}